snippet APREADME "ReadMeInfoForAP" Aw
- Xiao Yu
- xy2437
- lab$1
- All parts of the work conforms to the description and requirement of the lab, as well as the descriptions written on commit messages.
endsnippet
